body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #ff6600;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  font-size: 2.5em;
  margin-bottom: 20px;
}

.defi {
    text-align: center;
    color: #ff6600;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgb(217, 137, 84, 0.3);
    animation: pulsate 3s ease-in-out infinite;
}

header p{
    color: #752e00;
    text-align: center;
    font-size: 25px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #ff6600;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #e05500;
}

#resultado {
  margin-top: 20px;
  white-space: pre-wrap;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}